include MANIFEST.in
include Dspam.py
include testDspam.py
include testdspam.py
include test.py
include dspam_clean.py
include dspam_corpus.py
include dspam_anal.py
include dspam_dump.py
include dspam_purge.py
include pydspam_process.py
include dspamcgi.py
include dspam.html
include dspam.cfg
include dspam.c
include lock.py
include setup.py
include setup.cfg
include *.logrotate
include test/*
include Notes*
include NEWS
include LICENSE
